<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="http://192.168.1.233/cdn/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <div class="container">
        <a href="/" class="navbar-brand">Tasks</a>
      </div>
    </nav>